.layout {
  display: flex;
  height: 100vh;
  width: 100vw;
}

/* COLUMNA IZQUIERDA: 40% */
.left-column {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: transparent; /* o blanco si deseas */
  padding: 1rem;
  box-sizing: border-box;
}

/* Espacio superior vacío */
.div-vacio {
  flex-grow: 1; /* toma todo el espacio disponible arriba */
}

/* Reloj abajo */
.time-ctrl {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  color: #e7e5d9;
  box-sizing: border-box;
}

/* COLUMNA DERECHA: 60% */
.right-column {
  width: 60%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}