.layout {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.main-content {
  padding-left: 5%;
  display: flex;
  flex-direction: row;
}

.right-column {
  flex-direction: column;
  justify-content: space-between;
}
.svg-container {
  flex: 1;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
}


/* COLUMNA IZQUIERDA: 40% */
.left-column {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: transparent; 
  box-sizing: border-box;
}



.center-controls {
  position: absolute;
  bottom: 15%;
  right: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Alinea los hijos dentro de la columna */
  z-index: 3002;
  padding: 2rem; /* opcional, para separarlo un poco del borde */
  align-items: center;
  background-color: var(--color-white-brand,  #EFEFEF);
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  z-index: 301;
}


  

.hour {
  font-family: "power_grotesk_bold", sans-serif;
  font-size: 4rem;
  margin-top: -0.6rem;
  margin-bottom: 0.5rem;
  color: var(--color-text, #0c0c0c);
}

#prueba {
  z-index: 810;
}

#svg-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: visible;
}

.icon1 {
  color: var(--color-highlight-start-map, #e7e5d9);
}

/* Slider base */
#hourSlider {
  width: 300px;
  height: 6px;
  background: var(--color-text, #0c0c0c);
  border-radius: 3px;
  outline: none;
  appearance: none;
  margin: 0;
  position: relative;
}

/* WebKit (Chrome, Safari) */
#hourSlider::-webkit-slider-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  background: var(--color-text, #0c0c0c);
  border-radius: 50%;
  cursor: pointer;
  margin-top: -5px;
}

#hourSlider::-webkit-slider-runnable-track {
  background: #d9e7e50f;
  height: 6px;
  border-radius: 3px;
}

/* Firefox */
#hourSlider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: #e7e5d950;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

#hourSlider::-moz-range-track {
  background: #d9e7e50f;
  height: 6px;
  border-radius: 3px;
}

/* Edge */
#hourSlider::-ms-thumb {
  width: 16px;
  height: 16px;
  background: #43d7cd;
  border-radius: 50%;
  cursor: pointer;
}

#hourSlider::-ms-track {
  background: transparent;
  border-color: transparent;
  color: transparent;
  height: 6px;
}

  

/* Reloj abajo */
.time-ctrl {
  height: auto;
  /* padding: 2rem 0; */
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-text, #0c0c0c);
  position: relative;
}



.right-column {
  width: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.svg-container {
  position: relative;
  /* top: 10rem;
  left: 15rem; */
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}
.corner-icon {
  position: absolute;
  width: 70px;
  height: 70px;
  z-index: 200;
}

.top-left {
  top: 0;
  left: 0;
}

.bottom-right {
  bottom: 0;
  right: 0;
}

.content-row {
  display: flex;
  align-items: center;
  gap: 1rem;
}







