.spacer {
  margin-top: 20vh;
}
.bg-1,
.bg-2,
.bg-3,
.bg-4,
.bg-5,
.bg-6,
.bg-7 {
  background-color: #efefef;
}

.titlle-1 {
  color: var(--color-bg-1);
}
.titlle-2 {
  color: var(--color-bg-2);
}
.titlle-3 {
  color: var(--color-bg-3);
}
.titlle-4 {
  color: var(--color-bg-4);
}
.titlle-5 {
  color: var(--color-bg-5);
}
.titlle-6 {
  color: var(--color-bg-6);
}
.titlle-7 {
  color: var(--color-bg-7);
}

.content {
  padding: var(--page-padding);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content--intro {
  padding-top: 25vh;
  padding-bottom: 25vh;
  z-index: 200;
}
.content--outro {
  padding-top: 50vh;
  padding-bottom: 30vh;
}
.content--sticky {
  width: 96vw;
  height: 96vh;
  position: sticky;
  top: 0;

  margin-left: auto;
  margin-right: auto;

  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;

  /* Solo como ejemplo visual */
}

.content--grid,
.content--grid .content__inner {
  display: grid;
  overflow: hidden;
  gap: 2vh 5vw;
  align-content: center;
  justify-items: center;
  grid-template-areas: "content-img" "content-title" "content-text";
}

.content__img {
  grid-area: content-img;
  width: 50%;
  max-width: 300px;
  height: auto;
}
.content__img--large {
  width: 60%;
}
.content__img--left {
  justify-self: end;
}

.content__title,
.content__title_W,
.content__title_h2 {
  grid-area: content-title;
  letter-spacing: normal;
  text-transform: uppercase;
  line-height: 1;
  font-weight: normal;
  font-size: clamp(2rem, 6vw, 5rem);
  margin: 0;
  font-variation-settings: "slnt" 0, "wdth" 400, "wght" 900, "INKT" 400;
}
.content__title_W {
  color: #e7e5d9;
}

.content__title_h2 {
  margin: 0;
  line-height: 0.9;
  text-transform: uppercase;
  margin-left: -0.065em;
  font-size: clamp(2rem, 6vw, 5rem);
  letter-spacing: 0.105em;
  font-variation-settings: "slnt" 0, "wdth" 400, "wght" 900, "INKT" 400;
}

.content__text {
  grid-area: content-text;
  margin: 0;
  max-width: 500px;
  text-align: center;
  line-height: 1.5;
  padding: 0 1rem;
  backface-visibility: hidden;
}
.content__text--left {
  text-align: left;
  align-self: start;
}

.text-large_w {
  color: #fff;
  font-size: clamp(1rem, 5vw, 2rem);
  max-width: 900px;
  margin: 0 0 0.85em 0;
  line-height: 1.2;
}

.text-meta {
  font-size: 0.95rem;
  line-height: 1.4;
}
.text-large {
  font-size: clamp(1.5rem, 5vw, 3rem);
  max-width: 900px;
  margin: 0 0 0.85em 0;
  line-height: 1.2;
}

.hx {
  background: none;
  color: var(--color-highlight-start);
  display: inline-block;
  position: relative;
  white-space: nowrap;
}

.hx-3 {
  --color-highlight-end: var(--color-highlight-end);
}
